:root {
    --background-color: #E5E7EB;
    --widget-color: #8933FF;
    --text-color: #808EAA;
    --header-color: #717F9A;
    --up-arrow-color: #3BBF48;
    --down-arrow-color: #D53536;
    --purple-color: #E0D0FC;
    --card-background: #FFFFFF;
    --cb--color: #F6F8FA;
    --border-color: #EDEFF1;
    --bold-text-color: #4F5D7E;
}

.body-bg {
    background-color: var(--cb--color);
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}

.card-container {
    text-align: left;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: var(--card-background);
    /* background-color: var(--card-background); */
    /* box-shadow: 1px 1px 1px 1px rgba(0.2, 0.2, 0.2, 0.2); */
    box-shadow: 0 0 1px var(--bold-text-color);
    ;
}

#container {
    align-items: left;
    font-size: 10px;
}

ul.list-data {
    list-style-type: none;
    color: var(--text-color);
    font-size: 10px;
    font-weight: bold;
    /* display: flex; */
    justify-content: space-between;
    /* row-gap: 12px; */
    /* white-space: nowrap; */
}

li:nth-child(2) {
    color: black;
    font-weight: bold;
}

.menu-icon,
.alignright,
.align-arrow,
.float-right-content {
    /* left: 60px; */
    float: right;
}

.arrow-icon {
    color: var(--up-arrow-color);
    /* margin-left: 20%; */
    float: right;
    font-size: 12px;
}

.red-arrow {
    color: var(--down-arrow-color);
    /* margin-left: 60%; */
    font-size: 12px;
    float: right;
}

.bold-list {
    font-weight: bold;
    color: black;
    /* margin-left: -10px; */
}

.number {
    margin-block-start: 20px;
    text-indent: 20px;
    margin-left: 30px;
    margin-block-start: 10px;
    /* clear: left; */
    /* float: left; */
}

.alignleft {
    float: left;
    font-weight: bold;
    font-size: 15px;
}

.list-data .alignright {
    border-color: var(--widget-color);
    border-width: .25em;
    border-style: double;
    border-radius: 20px;
    background-color: var(--widget-color);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    /* padding: 2px 2px; */
}

.navbar-data {
    font-size: 13px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.search-text {
    border-color: var(--text-color);
    border-width: .15em;
    border-style: solid;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 30%;
    margin-top: -10px;
    color: var(--text-color);
    background-color: white
}

.card-container .data .list-data {
    row-gap: 12px;
}

nav {
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    /* margin-left: -15px; */
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* margin-right: 20px; */
}

.left-menu {
    width: 100%;
    border-right: 2px solid var(--border-color);
    padding-right: 10px;
}

.right-menu {
    width: 100%;
    border-left: 2px solid var(--border-color);
    padding-left: 10px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 10px;
    /* background-color: var(--background-color); */
}

.card-container #container6,
#container5,
#container7 {
    float: right;
    margin-top: -30px;
    background-color: var(--background-color);
}

.card-container .live-button {
    background-color: #E0D0FC;
    color: blueviolet;
    border-radius: 2px;
    font-weight: bold;
    padding: 3px 3px;
}

.card-container .right-number {
    font-weight: bold;
    font-size: 15px;
}

.left-menu .left-menu-data {
    margin-left: 50px;
    margin-top: 250px;
    margin-bottom: -12px;
    text-align: center;
    color: var(--text-color);
}

.left-menu .profile-img {
    margin-left: 55px;
    color: var(--text-color);
    margin-top: 8px;
}

.left-menu .left-menu-data div:nth-child(9) {
    color: var(--widget-color);
    background-color: white;
    width: 30px;
}

.left-menu .right-arrow {
    margin-left: 50px;
    color: var(--text-color);
    margin-top: 290px;
}

.left-side {
    padding-left: 2px;
    margin-left: 100px;
    margin-top: -22px;
    color: var(--text-color);
    font-size: 12px;
    margin-bottom: 10px;
}

.time {
    color: var(--text-color);
    font-size: 12px;
}

.right-box-heading {
    color: rebeccapurple;
    font-weight: bold;
}

.header-data {
    margin-bottom: 12px;
}

.containers {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    row-gap: 1px;
}

.containers span {
    width: 1rem;
    height: 1rem;
    font-size: small;
    border-radius: 50%;
    color: white;
    /* font-weight: bold; */
    text-align: center;
    background-color: gray;
}

.containers .title,
.element {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.containers .title,
.left-class,
.right-class,
.element {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.title .left-class p {
    color: var(--text-color);
    font-weight: bold;
}

.element .left {
    display: flex;
    flex-direction: column;
    /* row-gap: 1px; */
    /* align-items: center; */
}

.content p {
    color: var(--text-color);
    font-weight: bold;
}

.single-line {
    color: var(--text-color);
    font-weight: bold;
}

.right-menu .card-container {
    background-color: var(--cb--color);
}

.green-number {
    color: var(--up-arrow-color);
}

.red-number {
    color: var(--down-arrow-color)
}

.content b,
.right-class b {
    color: var(--bold-text-color);
    font-weight: bolder;
    /* font-size: 12px; */
}